{% extends "base.html" %}
{% block content %}
{% with messages = get_flashed_messages(with_categories=True) %}
{% if messages %}
{% for category, message in messages %}
<p class="alert alert-{{ category }}">{{ message }}</p>
{% endfor %}
{% endif %}
{% endwith %}
<ul class="providers">
{% if providers %}
{% for provider in providers %}
<li><a href="{{ url_for('provider.get_provider', provider_name=provider.username) }}">{{ provider.business_name }}</a></li>
{% endfor %}
{% endif %}
{% endblock content %}


