{% if current_user.is_authenticated %}
<nav class="navigation">
	<ul class="article-navigation-ul">
		{% if current_user.roles == 'client' %}
		<li class="navigation list"><a href="{{ url_for('provider.list_providers') }}">Providers</a></li>
		<li class="navigation list"><a href="{{ url_for('client.view_appointments') }}">Appointments</a></li>
		{% elif current_user.roles == 'provider' %}
		<li class="navigation list"><a href="{{ url_for('provider.get_appointments') }}">Appointments</a></li>
		<li class="navigation list"><a href="{{ url_for('utility.create_appointment') }}">Create-Appointment</a></li>
		<li class="navigation list"><a href="{{ url_for('utility.create_service') }}">Create-Service</a></li>
		<li class="navigation list"><a href="{{ url_for('utility.create_product') }}">Create-Product</a></li>
		{% endif %}
	</ul>
	<hr>
</nav>
{% endif %}
