{% extends 'base.html' %}
{% block title %}Appoms home page{% endblock title %}
{% block content %}
<h1>Appointment Management System</h1>
<p>This is where service providers schedule appointments with their new and old clients</p>
<h2>Services offered.</h2>
<ol class="offer">
	<li>Product listing</li>
	<li>Product advertisment</li>
	<li>Service listing</li>
	<li>Service advertisment</li>
	<li>Job hunting</li>
	<li>Appointment schedulling</li>
	<li>Payment options</li>
	<li>Money back guarantee</li>
</ol>
<h3>Product listing:</h3>
<p>You have the liberty to add the products your company have to our products page.<br>
Adding your products to our products page will enable our users to get firsthand information<br>
of the product you offer. Your products details like - year of manufacture, product spacification, wether used or brand new.</p>
<h3>Product advertisment:</h3>
<p>Our advertisment protal is available for our users 24/7. </p>
<h3>Service listing:</h3>
<p>The listing of the services you offer to prospective clients.<br>This is basically the skills or expertize you trade for money.</p> 
<h3>Service advertisment</h3>
<p>Our users need to know how effective you intend to deliver your services for customer satisfaction.<br>
Things like mode of product delivery and expected time for delivery after payment confirmation.</p>
<h3>Job hunting:</h3>
<p>Users can search your profiles for items of their interest and will contact you for appointment schedulling.</p>
<h3>Appointment schedulling.</h3>
<p>Service providers can map their availability on our appointments schedule page for clients to pick from.<br>
You need to  pay a token to book an appointment. Slots expire in 30*60 sec.</p>
<h3>Payment options.</h3>
<p>We have the following payment options.</p>
<ul>
	<li>Bank</li>
	<li>Bank</li>
	<li>Bank</li>
	<li>Bank</li>
</ul>
<h3>MoneyBack guarantee</h3>
<p>Our payment options ensure money back if things went wrong</p>
{% endblock content %}
