<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width initial-scale=1.0">
		<meta name"Author" content="Ugwu friday bathlomew">
		<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
		<title>Profile page.</title>
	</head>
	<body>
		<div class="probp-div">
			<h2>{{ user.username }}'s profile.</h2>
			{% if user %}
			<ul class="user-profile profile">
				<li>Profile picture: {{ user.image }}</li>
				<li>Username: {{ user.username }}</li>
				<li>Full name: {{ full_name }}</li>
				<li>E-mail: {{ user.email }}</li>
				<li>Phone number: {{ user.phone_number }}</li>
			</ul>
			{% endif %}
		<h4>Update your profile <a href="{{ url_for('profile_bp.update_profile') }}">here!</a></h4>
		</div>
	</body>
</html>
