{% extends "base.html" %}
{% block content %}
{% with messages = get_flashed_messages(with_categories=True) %}
{% for category, message in messages %}
<div class="alert alert-{{ category }}">{{ message }}</div>
{% endfor %}
{% endwith %}

{% if service or appoitment or client or provider %}
<div>
	<table  class="table table-bordered custom-table pending-appointment">
		<thead>
			<tr>
				<td>Provider</td>
				<td>Client</td>
				<td>Service_name</td>
				<td>Appointment_date</td>
				<td>Start_time</td>
				<td>End_time</td>
				<td>Status</td>
			</tr>
		</thead>
		<tbody>
			<tr class="pending-appointment value">
				<td>{{ provider.business_name }}</td>
				<td>{{ client.username }}</td>
				<td>{{ service.service_name }}</td>
				<td>{{ appointment.appointment_date }}</td>
				<td>{{ appointment.start_time }}</td>
				<td>{{ appointment.end_time }}</td>
				<td>{{ appointment.status }}</td>
			</tr>
		</tbody>
	</table>
</div>
{% endif %}
{% endblock content %}
